<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PI3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PI3.Properties.Settings>
            <setting name="nomeUsuario" serializeAs="String">
                <value />
            </setting>
            <setting name="componente1" serializeAs="String">
                <value />
            </setting>
            <setting name="componente2" serializeAs="String">
                <value />
            </setting>
            <setting name="componente3" serializeAs="String">
                <value />
            </setting>
            <setting name="codigoInstalacao" serializeAs="String">
                <value />
            </setting>
            <setting name="usuarios" serializeAs="String">
                <value />
            </setting>
            <setting name="telefone" serializeAs="String">
                <value />
            </setting>
            <setting name="celular" serializeAs="String">
                <value />
            </setting>
            <setting name="email" serializeAs="String">
                <value />
            </setting>
            <setting name="endereco" serializeAs="String">
                <value />
            </setting>
            <setting name="cidade" serializeAs="String">
                <value />
            </setting>
            <setting name="estado" serializeAs="String">
                <value />
            </setting>
            <setting name="privilegio" serializeAs="String">
                <value />
            </setting>
            <setting name="codigoCliente" serializeAs="String">
                <value />
            </setting>
            <setting name="cartao1" serializeAs="String">
                <value />
            </setting>
            <setting name="cartao2" serializeAs="String">
                <value />
            </setting>
            <setting name="cartao3" serializeAs="String">
                <value />
            </setting>
            <setting name="cartao4" serializeAs="String">
                <value />
            </setting>
            <setting name="cartao5" serializeAs="String">
                <value />
            </setting>
            <setting name="cartao6" serializeAs="String">
                <value />
            </setting>
            <setting name="cartao7" serializeAs="String">
                <value />
            </setting>
            <setting name="cartao8" serializeAs="String">
                <value />
            </setting>
            <setting name="cartao9" serializeAs="String">
                <value />
            </setting>
            <setting name="cartao10" serializeAs="String">
                <value />
            </setting>
        </PI3.Properties.Settings>
    </userSettings>
</configuration>